//
   Created by Rúben Gomes on 29-07-2015.

extends ../layout
head
   block links
      script(src='/javascripts/jquery/functionsDOM.js')
      script(src='/javascripts/jquery/jqbuttons.js')

body
    block content
        script(type='text/javascript').
            function getAndAddCommentsToParent(element,advertisementId) {
                getComments(advertisementId, function(div) {
                    if(div != null)
                    {
                        element.parentNode.parentNode.appendChild(div);
                        $(div).collapse('show');

                        element.onclick = function() {
                            hideAndShowElement(element, div);
                        };
                    }
                });
            }
        div(class="container", text-align='center')
            div(class="blog-header")
                h1(class="blog-title text-center") Dashboard
            div(class="blog-main")
        if(followedadds !== undefined && followedadds.length !== 0)
            each advertisement in followedadds
                div(class="blog-post", id=advertisement.id)
                    div(class="row")
                        span(class="col-xs-1")
                        h2= advertisement.title
                        if(!advertisement.changed === true)
                            span(class="col-xs-3 glyphicon glyphicon-asterisk orange")
                        else
                            span(class="col-xs-1")
                    div(class="row")
                        div(class="col-lg-8")
                            div(class="media")
                                div(class="media-left media-middle")
                                    img(class="img-responsive", src= advertisement.pictures, width='256', height='128', alt='Responsive Image')
                    div(class='row')
                        div(class="col-md-4")
                            p(class="blog-post-description")= advertisement.description
                    p(class="blog-post-meta") Create at #{advertisement.publishdate} as #{advertisement.publishtime.substring(0,8)}
                    if(advertisement.city && advertisement.country)
                        p #{advertisement.city}, #{advertisement.country}
                    p Author - #{advertisement.username}
                    div(class="post btn-group", role='group')
                        button(id="follow", class="btn btn-primary", complaintid= advertisement.id, data-placement="top", data-toggle="tooltip", title="Já está a seguir!")
                            span(class="glyphicon glyphicon-bookmark")
                            |  Seguir
                            span(id="following", class="badge")= advertisement.nfollows
                        a(class="btn btn-default", role="button")
                            span(class="glyphicon glyphicon-envelope")
                            |  Comentar
                            span(class="badge")= advertisement.ncomments
                        button(id="comment", class="btn btn-default", type="button", onclick="getAndAddCommentsToParent(this, " + advertisement.id + ");")
                            span(class="glyphicon glyphicon-chevron-down")