//
   Created by Rúben Gomes on 27-07-2015.

div(class="container table-bordered")
    div(class="row col-lg-6 pull-right")
        h2(class="pull-right text-center")= advertisement.title
            div(class="media")
                div(class="media-right media-middle pull-right")
                    img(class="img-responsive", src= advertisement.pictures, width='250',height='180', alt='Responsive Image')
    div(class="col-md-6 pull-left")
        p Create at #{advertisement.publishdate} as #{advertisement.publishtime.substring(0,8)}
        if(advertisement.city && advertisement.country)
            p #{advertisement.city}, #{advertisement.country}
        p Author - #{advertisement.username}
        p Description - #{advertisement.description}


